<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<p>sakujo ga dousa sinainode sibaraku henshu ni totte kaemasu</p>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>URL</th>
      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.content %></td>
        <td><%= article.url %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article), data: { confirm: 'Henshu suru yo!' }  %></td>
        <td>Destroy<%#= link_to 'Destroy', article_path(article) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
