<h1>New Article</h1>
<%= form_for @article do |f| %>
  <%= f.text_area :content, cols: 40, rows: 5 ,maxlength: 140 %><br>
  <%= f.submit 'hozon' %>
<% end %>
<hr>
<button type="submit" style = "width: 70px; height: 25px;"><%= link_to 'tweet', post_articles_path %></button>
<button type="submit" style = "width: 70px; height: 25px;"><%= link_to 'retweet', retweet_articles_path %></button>
<%= link_to 'Back', articles_path %>
